.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05); /* еле заметное затемнение */
    z-index: 999; /* ⬅ важно: ниже чем dropdown */
    display: none;
    pointer-events: none;
    opacity: 0;
}

.overlay.active {
    display: block;
    pointer-events: none;
    opacity: 1;
}
